.slideshow-container {
    top: 60px !important;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    height: 400px;
}

.slide {
    display: block;
    position: absolute;
    width: 100%;
    height:400px; 
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.active {
    display: block;
    opacity: 1;
}

.progress-bar {
    width: 0%;
    height: 2px; 
    background-color: #fff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 400ms linear;
}