body {
    background-color: var(--color-bg);
    color: var(--color-fg);
}

::selection {
    background-color: var(--selection-bg);
    color: var(--selection-fg)
}

.welcome-section {
    text-align: center;
    position: relative;
    top: 90px;
    font-size: 0.9em;
    font-family: arial;
    font-weight: thin;
}

.book-ticket {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: consolas;
    font-size: 1em;
    border: 1px solid var(--border);
    padding: 0.6rem 1rem;
    transition: 200ms ease-out;
}

.book-ticket:hover {
    background-color: var(--bg-hover);
    color: var(--fg-hover);
    border: 1px solid var(--border);
}

.book-ticket:active {
    background-color: var(--color-bg);
    color: var(--color-fg);
    transition: 0ms ease-out;
}