nav {
    user-select: none;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: var(--color-bg);
    padding: 1rem;
    font-family: "Varela", sans-serif;
    margin-left: -10px;
}

nav a {
    background-color: var(--color-bg);
    color: var(--color-fg);
    text-decoration: none;
    position: relative;
    padding: 5px 12px;
}

nav a:hover {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

nav a.active {
    background-color: var(--nav-bg);
    color: var(--nav-fg);
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}
