body {
    -webkit-font-smoothing: antialiased;
}

::selection {
    background-color: var(--selection-bg);
    color: var(--selection-fg)
}

.welcome-section {
    user-select: none;
    text-align: center;
    position: relative;
    top: 90px;
    font-size: 0.9em;
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
    font-weight: thin;
    letter-spacing: 3px;
}

.welcome-section h1 {
    font-weight: 100;
}

.book-ticket {
    margin-top: 40px;
    background-color: var(--button-bg);
    color: var(--button-fg);
    font-family: consolas;
    font-size: 1.1em;
    border: 1px solid var(--border);
    padding: 0.7rem 1.2rem;
    transition: 200ms ease-out;
    letter-spacing: 2px;
}

.book-ticket:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-fg-hover);
    border: 1px solid var(--button-border-hover);
}
 
.book-ticket:active {
    background-color: var(--button-bg);
    color: var(--button-fg);
    transition: 0ms ease-out;
}