body, h1, input, button, .container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s, background-color 0.3s, color 0.3s;
}

body {
    user-select: none;
    font-family: 'Varela', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-fg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fade-in 1.7s;
}

.container {
    background-color: var(--color-bg);
    padding: 3rem;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 1.6rem;
    font-family: 'Varela', sans-serif;
    color: var(--color-fg);
    letter-spacing: 2px;
    font-weight: lighter;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group > p {
    transition: 0.3s;
}

p {
    background: linear-gradient(45deg, transparent 1%, var(--color-fg) 10%, transparent 30%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: var(--color-fg);
    animation: animate-gradient 1s ease-in forwards;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 5000s, color 0s 5000s !important;
}

input, select {
    width: 100%;
    padding: 0.5rem 0.1rem;
    border: none;
    background-color: var(--color-bg);
    font-size: 1rem;
    color: var(--color-fg);
    border-bottom: 1px solid #757575;
    font-family: 'Varela', sans-serif;
}

input:hover {
    color: var(--color-fg);
    border-bottom: 1px solid var(--border);
}

input:hover::placeholder {
    color: var(--color-fg);
}

input:focus, select:focus {
    outline: none;
    color: var(--color-fg);
    border-bottom: 1px solid var(--border);
}

.ticket-price {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-fg);
    text-align: center;
    margin-bottom: 1rem;
    background: linear-gradient(45deg, transparent 1%, var(--color-fg) 10%, transparent 30%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: var(--color-fg);
    animation: animate-gradient 1s ease-in forwards;
}

.date-selection {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    padding: 0.55rem 1.1rem;
    background-color: var(--color-bg);
    cursor: pointer;
    border-bottom: 1px solid transparent;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-fg);
    transition: 0.3s;
}

input[type="radio"] + label:hover {
    border-bottom: 1px solid var(--border);
}

input[type="radio"]:checked + label {
    background-color: var(--border); 
    color: var(--color-bg);
}

.btn-primary {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--button-bg);
    border: 1px solid var(--border);
    color: var(--button-fg);
    font-size: 1rem;
    font-family: 'Varela', sans-serif;
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 2px;
}

.btn-primary:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-fg-hover);
    border: 1px solid var(--button-border-hover);
}

.btn-primary:active {
    background-color: var(--button-bg);
    color: var(--button-fg);
    transition: 100ms;
}

.clear-button {
    display: none;
    position: absolute;
    margin-top: 10px;
    margin-left: -20px;
    padding: 0px 5px 0px 5px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    background-color: transparent;
    color: #757575;
}


.clear-button:hover {
    color: var(--color-fg);
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
