body {
    background-color: var(--color-bg);
    color: var(--color-fg)
}

.contact-info {
    position: relative;
    color: var(--color-fg);
    font-family: 'Varela', sans-serif;
    font-size: 0.8em;
    text-align: center;
    top: 100px;
}

h2 {
    font-weight: 100;
    font-family: 'Varela', sans-serif;
}
