body {
    background-color: var(--color-bg);
    color: var(--color-fg)
}

.contact-info {
    position: relative;
    color: var(--color-fg);
    font-family: 'Varela', sans-serif;
    font-size: 0.8em;
    text-align: center;
    top: 100px;
    animation: fade-up 0.7s;
    background: linear-gradient(45deg, var(--color-fg) 10%, transparent 30%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: var(--color-fg);
    animation: animate-gradient 1s ease-in forwards, fade-up-welcome-text 0.7s forwards;
}

h2 {
    font-weight: 100;
    font-family: 'Varela', sans-serif;
}
