body {
    transition: opacity 1s ease, background-color 0.3s ease, color 0.3s ease;
}

nav {
    user-select: none;
    position: fixed;
    display: flex;
    top: 0;
    left: 0.5rem;
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-family: "Varela", sans-serif;
    margin-left: -10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a {
    background-color: var(--color-fg);
    color: var(--color-bg);
    text-decoration: none;
    position: relative;
    padding: 5px 12px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    animation: fade-up 0.7s;
}

nav a:hover {
    background-color: var(--color-bg);
    font-weight: bold;
    border: 1px solid var(--border);
    color: var(--color-fg);
}

.current {
    background-color: var(--nav-bg);
    color: var(--nav-fg);
    font-weight: bold;
}

#theme-switch {
    height: 60px;
    width: 60px;
    padding: 15px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    display: flex;
    justify-items: center;
    align-items: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: 0.3s;
}

#theme-switch svg {
    fill: var(--color-fg);
}

#theme-switch svg:last-child {
    display: none;
}

.dark-mode #theme-switch svg:first-child {
    display: none;
}

.dark-mode #theme-switch svg:last-child {
    display: block;
}
