body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    user-select: none;
}

h2 {
    position: fixed;
    align-items: center;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Varela', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 1.5rem;
    padding: 5px 10px 5px 10px; 
}

h5 {
    position: fixed;
    align-items: center;
    text-align: center;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Varela', sans-serif;
    font-size: 1rem;
    font-weight: 100;
}

h6 {
    position: fixed;
    align-items: center;
    text-align: center;
    top: 45%;
    left: 50%;
    width: 15em;
    transform: translate(-50%, -50%);
    font-family: 'Varela', sans-serif;
    font-size: 1rem;
    font-weight: 100;
}

.book-more {
    position: fixed;
    top: 65%;
    left: 50%;
    font-size: 15px !important;
    transform: translate(-50%, -50%);
    background-color: var(--button-bg);
    color: var(--button-fg);
    font-family: 'Varela', sans-serif;
    font-size: 1em;
    border: 1px solid var(--border);
    padding: 0.7rem 1.2rem;
    transition: 200ms ease-out;
    letter-spacing: 2px;
}

.book-more:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-fg-hover);
    border: 1px solid var(--button-border-hover);
    cursor: pointer;
}

.alert {
    position: fixed;
    top: 2%;
    right: 3%;
    padding: 15px 30px;
    background-color: var(--color-fg);
    color: var(--color-bg);
    opacity: 0;
    width: 200px;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;
}

.alert.show {
    opacity: 1;
    visibility: visible;
}

.alert.success { background-color: var(--color-fg); color: var(--color-bg); }
.alert.error { background-color: #ff0000; color: #222; }