body, h1, input, button, .container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s, background-color 0.3s, color 0.3s;
}

body {
    user-select: none;
    font-family: 'Varela', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-fg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.head {
    font-family: 'Varela', sans-serif;
    display: flex;
    position: absolute;
    left: 10%;
}

@media only screen and (max-width: 768px) {
    
}

input, select {
    width: 100%;
    padding: 0.5rem 0.1rem;
    border: none;
    background-color: var(--color-bg);
    font-size: 1rem;
    color: var(--color-fg);
    border-bottom: 1px solid #757575;
    font-family: 'Varela', sans-serif;
}

input:hover {
    color: var(--color-fg);
    border-bottom: 1px solid var(--border);
}

input:hover::placeholder {
    color: var(--color-fg);
}

input:focus, select:focus {
    outline: none;
    color: var(--color-fg);
    border-bottom: 1px solid var(--border);
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    padding: 0.55rem 1.1rem;
    background-color: var(--color-bg);
    cursor: pointer;
    border-bottom: 1px solid transparent;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-fg);
    transition: 0.3s;
}

input[type="radio"] + label:hover {
    border-bottom: 1px solid var(--border);
}

input[type="radio"]:checked + label {
    background-color: var(--border); 
    color: var(--color-bg);
}