body {
    -webkit-font-smoothing: antialiased;
}

::selection {
    background-color: var(--selection-bg);
    color: var(--selection-fg)
}

.welcome-section {
    user-select: none;
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 0.9em;
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
    font-weight: thin;
    letter-spacing: 3px;
}

.welcome-section h1 {
    font-weight: 100;
}

.welcome-text {
    background: linear-gradient(45deg, transparent 1%, var(--color-fg) 10%, transparent 30%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: var(--color-fg);
    animation: animate-gradient 1s ease-in forwards, fade-up-welcome-text 0.7s forwards;
}

.book-ticket {
    margin-top: 40px;
    background-color: var(--button-bg);
    color: var(--button-fg);
    font-family: 'Varela', sans-serif;
    font-size: 1.1em;
    border: 1px solid var(--border);
    padding: 0.7rem 1.2rem;
    transition: 200ms ease-out;
    letter-spacing: 2px;
    animation: fade-up 0.7s;
}

.book-ticket:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-fg-hover);
    border: 1px solid var(--button-border-hover);
    cursor: pointer;
}

.book-ticket:active {
    background-color: var(--button-bg);
    color: var(--button-fg);
    transition: 0ms ease-out;
}

.category {
    margin-top: 8px;
    background-color: var(--button-bg);
    color: var(--button-fg);
    font-family: 'Varela', sans-serif;
    font-size: 1.1em;
    border: 1px solid var(--border);
    width: 120px;
    padding: 0.7rem 1.2rem;
    transition: 200ms ease-out;
    letter-spacing: 2px;
    animation: fade-up 0.7s;
}

.category:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-fg-hover);
    border: 1px solid var(--button-border-hover);
    cursor: pointer;
}

.category:active {
    background-color: var(--button-bg);
    color: var(--button-fg);
    transition: 0ms ease-out;
}

.text-loading-animation {
    background: linear-gradient(90deg, transparent 10%, var(--color-fg) 40%, transparent 100%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animate-gradient 1s ease-in-out forwards;
}

.blinker {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    animation: blinker 0.3s steps(1) infinite;
    color: var(--color-fg);
    font-family: Arial, sans-serif;
}

#main-content {
    display: none; 
}

.tnc-link {
    color: var(--tnc-color);
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
    position: fixed;
    letter-spacing: 2px;
    bottom: 4.3%;
    left: 4%;
    padding: 3px;
}

.tnc-link:hover {
    transition: 0.3s;
    background-color: var(--color-fg);
    color: var(--color-bg);
}

.ab-us-link {
    color: var(--tnc-color);
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
    position: fixed;
    letter-spacing: 2px;
    bottom: 4.3%;
    left: 20%;
    padding: 3px;
}

.ab-us-link:hover {
    transition: 0.3s;
    background-color: var(--color-fg);
    color: var(--color-bg);
}

@keyframes blinker {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(-60px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translate(0px) scale(1);
    }
}

@keyframes fade-up-welcome-text {
    0% {
        transform: translateY(-60px) scale(0.9);
    }

    100% {
        transform: translate(0px) scale(1);
    }
}

@keyframes animate-gradient {
    0% {
        background-position: 200% 0;
        color: transparent;
    }
    100% {
        background-position: -200% 0;
    }
}

@keyframes load-text {
    0% {
        background-position: 200% 0;
        color: transparent;
    }
    100% {
        background-position: 0% 0;
        color: var(--color-fg);
    }
}