body {
    -webkit-font-smoothing: antialiased;
}

::selection {
    background-color: var(--selection-bg);
    color: var(--selection-fg)
}

.welcome-section {
    user-select: none;
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 0.9em;
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
    font-weight: thin;
    letter-spacing: 3px;
}

.welcome-section h1 {
    font-weight: 100;
    display: inline;
}

.welcome-text {
    background: linear-gradient(45deg, transparent 1%, var(--color-fg) 10%, transparent 30%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: var(--color-fg);
    animation: animate-gradient 1s ease-in forwards, fade-text 0.7s forwards;
}

.category {
    margin-top: 8px;
    background-color: var(--button-bg);
    color: var(--button-fg);
    font-family: 'Varela', sans-serif;
    font-size: 1.1em;
    border: 1px solid var(--border);
    width: 120px;
    padding: 0.7rem 1.2rem;
    transition: 200ms ease-out;
    letter-spacing: 2px;
    animation: fade-up 0.7s;
}

.category:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-fg-hover);
    border: 1px solid var(--button-border-hover);
    cursor: pointer;
}

.category:active {
    background-color: var(--button-bg);
    color: var(--button-fg);
    transition: 0ms ease-out;
}

.text-loading-animation {
    background: linear-gradient(90deg, transparent 10%, var(--color-fg) 40%, transparent 100%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animate-gradient 1s ease-in-out forwards;
}

.blinker {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    animation: blinker 0.3s steps(1) infinite;
    color: var(--color-fg);
    font-family: Arial, sans-serif;
}

.tnc-link {
    color: var(--tnc-color);
    font-family: 'Varela', sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
    position: fixed;
    letter-spacing: 2px;
    bottom: 4.3%;
    left: 2%;
    padding: 3px;
}

.tnc-link:hover {
    transition: 0.3s;
    background-color: var(--color-fg);
    color: var(--color-bg);
}

.ab-us-link {
    color: var(--tnc-color);
    font-family: 'Varela', sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
    position: fixed;
    letter-spacing: 2px;
    bottom: 4.3%;
    left: 19%;
    padding: 3px;
}

.ab-us-link:hover {
    transition: 0.3s;
    background-color: var(--color-fg);
    color: var(--color-bg);
}

/* Service Section */

.service-container {
    position: absolute;
    display: flex; 
    justify-content: center;
    align-items: center;
    left: 33%;
    margin-top: 150px;
    transform: translateX(-50%);
    font-family: 'Varela', sans-serif;
    animation: fade-text 0.7s forwards;
}

.service-container a {
    text-decoration: none;
    color: var(--color-fg);
    background-color: var(--color-bg);
    padding: 10px;    
    transition: 200ms;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
}

.service-container a:hover {
    text-decoration: none;
    color: var(--fg-hover);
    background-color: var(--bg-hover);
    font-weight: bold;
    padding: 10px 20px;
    transition: 200ms;
}

.service-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 850%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    filter: invert(1);
    transform: translateX(-50%);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.dark-mode .service-icon {
    filter: invert(0);
}

.service-icon.hidden {
    opacity: 0;
    visibility: hidden;
}

.service-icon {
    filter: invert(1);
}

.service-icon.visible {
    opacity: 1;
    visibility: visible;
}

.welcome-description {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    letter-spacing: normal;
    color: var(--color-fg);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    max-width: 800px;
    position: absolute;
    left:20%;
    animation: animate-gradient 1s ease-in forwards, fade-text 0.7s forwards;
}

#user-info {
    align-items: center;
    right: 4%;
    gap: 10px;
    cursor: pointer;
    position: absolute;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: transparent;
    color: var(--color-fg);
    border: none;
    margin: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

.dropdown-btn:hover {
    color: var(--tnc-color);
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 120%;
    min-width: 150px;
    z-index: 1000;
    overflow: hidden;
}

.dropdown-content a {
    background-color: var(--radio-color);
    color: var(--color-fg);
    padding: 10px 15px;
    text-decoration: none;
    border: 0;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--tnc-color);
    border: 0;
    color: var(--color-bg);
}

.alert {
    position: fixed;
    top: 4%;
    right: 2%;
    padding: 15px 30px;
    background-color: var(--color-fg);
    color: var(--color-bg);
    opacity: 0;
    width: 300px;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;
    letter-spacing: 0.05rem;
    font-size: 1.03em;
}

.alert.show {
    opacity: 1;
    visibility: visible;
    animation: fade-text 0.5s forwards;
}

.alert.success { background-color: var(--color-fg); color: var(--color-bg); }
.alert.error { background-color: #ff0000; color: #222; }

@keyframes blinker {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(-60px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translate(0px) scale(1);
    }
}

@keyframes fade-text {
    0% {
        transform: translateY(-60px) scale(0.9);
    }

    100% {
        transform: translate(0rem) scale(1);
    }
}

@keyframes animate-gradient {
    0% {
        background-position: 200% 0;
        color: transparent;
    }
    100% {
        background-position: -200% 0;
    }
}

@keyframes load-text {
    0% {
        background-position: 200% 0;
        color: transparent;
    }
    100% {
        background-position: 0% 0;
        color: var(--color-fg);
    }
}

@media (max-width: 768px) {
    .welcome-description {
        left: 5%;
        font-weight: 200;
        width: 400px;
        top: 6vh;
    }

    .service-container {
        left: 0%;
        margin-top: 250px;
    }

    .fas {
        margin-bottom: 1rem;
    }

    .service-container a {
        font-weight: 300;
    }

    .tnc-link {
        bottom: 5%;
        left: 5%;
    }

    .ab-us-link {
        bottom: 2%;
        left: 5%;
    }
}