.t-and-c-info {
    margin-top: 50px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    max-width: 1000px;
    margin: 10px;
    font-family: 'Inter', sans-serif;
    color: var(--color-fg);
}

.t-and-c-info h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--color-fg);
}

.t-and-c-info h3 {
    font-size: 14px;
    color: var(--color-fg);
}

.t-and-c-content p {
    font-size: 14px;
    line-height: 1.6;
    max-width: 800px;
}

.t-and-c-content h4 {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-fg);
}

.t-and-c-content ul {
    list-style-type: disc;
    padding-left: 15px;
}

.t-and-c-content ul li {
    font-size: 14px;
    margin-bottom: 7px;
    line-height: 1.4;
}

.t-and-c-content strong {
    color: var(--color-fg);
}
