body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
    --color-bg: #eeeeee;
    --color-fg: #000000;
    --bg-hover: #000000;
    --fg-hover: #eeeeee;
    --border: #000000;
    --selection-bg: #000000;
    --selection-fg: #eeeeee;
    --button-bg: #000000;
    --button-fg: #eeeeee;
    --button-bg-hover: #eeeeee;
    --button-fg-hover: #000000;
    --button-border-hover: #000000;
    --nav-bg: #000000;
    --nav-fg: #eeeeee;
    --tnc-color: #3d3d3d;
    --radio-color: #e0e0e0;
    --switch-btn-color: #e0e0e0;
    --section-hover: #e0e0e0;
    --radio-hover: #f1f1f1;
    --radio-bg-hover: #414141;
    --radio-border: #c1c1c1;
}

.dark-mode {
    --color-bg: #000000;
    --color-fg: #eeeeee;
    --bg-hover: #eeeeee;
    --fg-hover: #000000;
    --border: #eeeeee;
    --selection-bg: #eeeeee;
    --selection-fg: #000000;
    --button-bg: #eeeeee;
    --button-fg: #000000;
    --button-bg-hover: #000000;
    --button-fg-hover: #eeeeee;
    --button-border-hover: #eeeeee;
    --nav-bg: #eeeeee;
    --nav-fg: #000000;
    --tnc-color: #c2c2c2;
    --radio-color: #0f0f0f;
    --switch-btn-color: #080808;
    --section-hover: #0c0c0c;
    --radio-hover: #0c0c0c;
    --radio-bg-hover: #141414;
    --radio-border: #1c1c1c;
}
