body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
    --color-bg: #ffffff;
    --color-fg: #000000;
    --bg-hover: #000000;
    --fg-hover: #ffffff;
    --border: #000000;
    --selection-bg: #000000;
    --selection-fg: #ffffff;
    --button-bg: #000000;
    --button-fg: #ffffff;
    --button-bg-hover: #ffffff;
    --button-fg-hover: #000000;
    --button-border-hover: #000000;
    --nav-bg: #000000;
    --nav-fg: #ffffff;
    --tnc-color: #3d3d3d;
}

.dark-mode {
    --color-bg: #000000;
    --color-fg: #ffffff;
    --bg-hover: #ffffff;
    --fg-hover: #000000;
    --border: #ffffff;
    --selection-bg: #ffffff;
    --selection-fg: #000000;
    --button-bg: #ffffff;
    --button-fg: #000000;
    --button-bg-hover: #000000;
    --button-fg-hover: #ffffff;
    --button-border-hover: #ffffff;
    --nav-bg: #ffffff;
    --nav-fg: #000000;
    --tnc-color: #c2c2c2;
}
