body {
    font-family: 'Space Mono', monospace;
    background-color: var(--color-bg);
    color: var(--color-fg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group label {
    color: #bbb;
}

input[type="text"],
input[type="date"],
select {
    width: 200px;
    height: 6.875rem;
    font-size: 1.8rem;
    background-color: #000000;
    color: var(--color-fg);
    border: 1px solid transparent;
}

#switch-btn {
    position: absolute;
    left: 24%;
    background-color: var(--switch-btn-color);
    color: var(--color-fg);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 1.9rem;
    rotate: 90deg;
    z-index: 1;
}

#switch-btn:hover {
    background-color: #141414;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
}

.container {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5px 0px 5px 30px;
    margin: 1px;
    transition: all 0.3s ease;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0.56rem;
    left: 0.63rem;
    height: 0.81rem;
    width: 0.81rem;
    background-color: var(--radio-color);
    border: 1px solid var(--radio-border);
    border-radius: 50%;
}

.container input:checked~.checkmark {
    background-color: var(--button-bg);
}

.container input:checked~.checkmark+span {
    font-weight: bold;
}

.container input:checked~.checkmark+span {
    background-color: var(--button-bg);
    font-weight: bold;
}

.container input:checked~span {
    font-weight: bold;
    background-color: var(--button-bg);
    color: var(--button-fg);
}

.container:hover {
    border-bottom: 1px solid var(--radio-color);
}

/* Special fare radio button */
.special-fare {
    position: fixed;
    top: 23rem;
    left: 11.5rem;
    z-index: 1;
    animation: animate-gradient 0.7s ease-in forwards, fade-element 0.7s forwards;
}

.special-fare h3 {
    position: absolute;
    left: -13%;
    top: -50%;
    padding-bottom: 1rem;
    font-size: 1em;
    font-weight: 400;
    user-select: none;
    animation: animate-gradient 0.7s ease-in forwards;
}

.special-fare .radio {
    position: relative;
}

.special-fare .checkmark1 {
    position: absolute;
    top: 24%;
    left: 8%;
    height: 12px;
    width: 12px;
    background-color: var(--radio-color);
    border: 1px solid var(--radio-border);
    border-radius: 50%;
}

.radio {
    display: inline;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: var(--color-bg);
    user-select: none;
    padding: 10px 10px 25px 35px;
    margin-right: 1rem;
    transition: all 0.2s ease;
    border: 1px solid var(--radio-color);
}

.radio-text {
    display: inline-block;
    vertical-align: top;
}

.subtext {
    display: block;
    font-size: 0.6em;
    color: #888;
    margin-top: 2px;
    animation: animate-gradient 0.7s ease-in forwards;
}

.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio input:checked~.checkmark1 {
    font-weight: bold;
    background-color: var(--button-bg);
    color: var(--color-fg);
}

.radio input:checked~.radio-text {
    font-weight: bold;
}

.radio:has(input:checked) {
    background-color: var(--radio-color);
    border: 1px solid var(--radio-border);
}

.radio:hover {
    border: 1px solid var(--radio-hover);
    background-color: var(--section-hover);
}

.radio:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    visibility: hidden;
    background-color: var(--radio-color);
    color: var(--color-fg);
    border: 1px solid var(--radio-border);
    text-align: center;
    font-size: 0.7em;
    border-radius: 4px;
    padding: 10px 15px;
    position: absolute;
    top: 140%;
    left: 50%;
    width: 285px;
    transform: translateX(-50%);
    white-space: normal;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 1;
    pointer-events: none;
}

.tooltip::after {
    content: '';
    position: absolute;
    bottom: 99%;
    left: 45%;
    transform: rotate(180deg);
    border-width: 10px;
    border-style: solid;
    border-color: var(--radio-color) transparent transparent transparent;
}

.flight-booking>label>.radio-text {
    padding: 0px 5px 0px 5px;
}

.flight-booking {
    width: 400px;
    position: fixed;
    top: 29vh;
    left: 10vh;
    flex-wrap: wrap;
    border-radius: 10px;
    animation: animate-gradient 0.7s ease-in forwards, fade-element 0.7s forwards;
}

.city-switch {
    display: flex;
    left: auto;
    position: fixed;
    align-items: center;
    border: 1px solid var(--radio-border);
    border-radius: 10px;
    margin-top: 10px;
    animation: animate-gradient 0.7s ease-in forwards, fade-element 0.7s forwards;
}

#from {
    border-right: 1px solid var(--radio-border);
    transition: 0.3s;
    border-radius: 10px 0px 0px 10px;
}

.from {
    font-size: 0.4em;
    font-weight: 200;
    float: inline-start;
    margin: 10px;
    margin-left: 21px;
    animation: animate-gradient 0.7s ease-in forwards;
}

.to {
    font-size: 0.4em;
    font-weight: 200;
    float: inline-start;
    margin: 10px 15px;
    animation: animate-gradient 0.7s ease-in forwards;
}

.departure {
    font-size: 0.7em;
    position: absolute;
    font-weight: 200;
    float: inline-start;
    margin: 0.7rem;
    margin-left: 1rem;
}

#to {
    border-radius: 0px;
    transition: 0.3s;
    border-radius: 0px 10px 10px 0px;
}

#departure {
    width: 155px;
    border-right: 1px solid var(--radio-border);
    transition: 0.3s;
}

#return {
    width: 155px;
    border-right: 1px solid var(--radio-border);
    transition: 0.3s;
}

#from:hover,
#to:hover,
#departure:hover,
#return:hover,
#travelers-and-class:hover {
    background-color: var(--section-hover);
    transition: 0.3s;
}

.travelers-and-class:hover {
    transition: 0.3s;
    background-color: var(--radio-color);
    border: 0px solid #0c0c0c;
}

/* Custom dropdown menu */

.custom-select {
    position: relative;
    height: 6.875rem;
    border-right: 1px solid var(--radio-border);
    width: 300px;
    font-family: 'Space Mono', monospace;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--color-fg);

}

.custom-select:hover {
    background-color: var(--radio-color);
    transition: 0.3ms;
}

.select-selected {
    padding: 35px;
    padding-left: 20px;
    animation: animate-gradient 0.7s ease-in forwards;
}

.select-options {
    display: none;
    position: absolute;
    width: 100%;
    top: 70%;
    font-size: 0.5em;
    font-weight: 100;
    background-color: var(--radio-color);
    border-radius: 8px;
}

.select-options div {
    display: flex;
    justify-content: space-between;
    padding: 10px 14px;
    color: #808080;
    flex-direction: column;
}

.select-options div .city {
    font-weight: bold;
}

.select-options div .airport {
    font-size: 0.8em;
    color: #b0b0b0;
}

.select-selected .city {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.select-selected .airport {
    font-size: 0.5em;
    font-weight: 100;
    color: var(--color-fg);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    animation: animate-gradient 0.7s ease-in forwards;
}

.select-options div .code {
    align-self: flex-end;
    font-size: 0.9em;
    font-weight: bold;
    top: -32px;
    position: relative;
    color: #b0b0b0;
}

.select-options div:hover {
    background-color: var(--radio-hover);
    color: var(--color-fg);
    border-radius: 8px;
}

.select-selected .open {
    border-radius: 8px 8px 0 0;
}

.select-options.open {
    display: block;
}

/* Date Picker */

.date-picker {
    position: relative;
}

.date-trigger {
    width: 10rem;
    height: 6.875rem;
    background: var(--color-bg);
    color: var(--color-fg);
    padding: 1.9rem 0.5rem;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background 0.2s;
    border-right: 1px solid var(--radio-border);
}

.date-trigger:hover {
    background: var(--radio-color);
}

.date-display {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.date-day {
    font-size: 2em;
    margin-right: 0.3rem;
    font-weight: 600;
    margin-left: 0.5rem;
    margin-bottom: -5px;
    animation: animate-gradient 0.7s ease-in forwards;
}

.return-description {
    position: absolute;
    width: 80px;
    font-size: 0.7rem;
    font-family: 'Varela', sans-serif-;
    font-weight: 800;
    text-align: left;
    top: 30%;
    left: 10%;
    animation: animate-gradient 0.7s ease-in forwards;
}

.arrow-down {
    border: solid var(--tnc-color);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    content: '';
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    vertical-align: top;
    margin: 2px 0 0 8px;
    transition: all 0.3s ease-in-out;
}

.date-month {
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    animation: animate-gradient 0.7s ease-in forwards;
}

.date-weekday {
    font-family: 'Space Mono', monospace;
    margin-top: 0.3rem;
    margin-left: 0.6rem;
    position: absolute;
    animation: animate-gradient 0.7s ease-in forwards;
}

.calendar input[type="date"] {
    border: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.date-trigger {
    width: 10rem;
    height: 6.875rem;
    background: var(--color-bg);
    color: var(--color-fg);
    padding: 1.9rem 0.5rem;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background 0.2s;
    border-right: 1px solid var(--radio-border);
}

.date-trigger:active {
    background: var(--radio-color);
}

.calendar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--radio-color);
    border: 1px solid #1c1c1c;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.calendar.active {
    display: block;
}

.calendar table {
    border-collapse: collapse;
    width: 100%;
}

.calendar th, .calendar td {
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.calendar th {
    color: #666;
    font-weight: bold;
}

.calendar td:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
}

.calendar .selected {
    background-color: #007bff;
    color: white;
    border-radius: 50%;
}

.cancel-btn {
    position: absolute;
    top: 10%;
    left: 81%;
    cursor: pointer;
    padding: 2px;
    filter: invert(1);
}

.cancel-btn:hover {
    transform: scale(1.1);
}

.cancel-btn:active {
    transform: scale(1.2);
}

.dark-mode .cancel-btn {
    filter: invert(0);
}

@keyframes fade-element {
    0% {
        transform: translateY(1rem) scale(1);
    }

    100% {
        transform: translate(0rem) scale(1);
    }
}

.travelers {
    color: var(--color-fg);
    font-family: 'Space Mono', monospace;
    font-size: 0.9em;
    position: absolute;
    top: 0%;
    margin: 0.7rem;
    animation: animate-gradient 0.7s ease-in forwards;
}

.travelers-display {
    color: var(--color-fg);
    font-family: 'Space Mono', monospace;
    margin-top: 0.8rem;
    animation: animate-gradient 0.7s ease-in forwards;
}

.travelers-and-class {
    width: 245px;
    height: 6.875rem;
    background-color: var(--color-bg);
    border: 0px solid #000;
    border-radius: 0px;
    cursor: pointer;
}

.travel-class {
    position: absolute;
    top: 30%;
    left: 49.9%;
    width: 34rem;
    height: 20rem;
    background-color: var(--calendar-bg);
    border-radius: 10px;
    padding: 1.3rem;
    user-select: none;
}

.travel-class h5, p {
    font-size: 0.6em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
}

.number-of-travelers {
    margin-left: -4.5rem;
    font-size: 2em;
    font-weight: 600;
}

.display-class {
    display: block;
    width: 200px;
    margin-left: 0.7rem;
    white-space: nowrap;
    text-align: left;
}

.children-section {
    width: 200px;
    position: absolute;
}

.infants-section { 
    width: 200px;
    left: 50%;
    position: absolute;
}

.choose-class {
    top: 65%;
    width: 400px;
    position: absolute;
}

.radio-input input {
    display: none;
}

.radio-input {
    --item_width: 30px;
    --item_height: 30px;
    --items: 10;
    --container_width: calc(var(--item_width) * var(--items));
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--calendar-bg);
    color: var(--color-fg);
    width: var(--container_width);
    overflow: hidden;
    user-select: none;
}

.radio-input label {
    color: var(--color-fg);
}

.radio-input label:hover {
    background-color: #85858570;
}

.radio-input label:hover span {
    color: var(--color-fg);
}

.radio-input label {
    width: var(--item_width);
    height: var(--item_height);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    font-size: 0.8em;
}

.choose-class .radio-input {
    --item_width: auto;
    --container_width: auto;
    gap: 5px;
    flex-wrap: wrap;
    width: 35rem;
}

.choose-class .radio-input label {
    padding: 0px 15px;
    width: auto;
    font-weight: 400;
    text-align: center;
}

.choose-class .radio-input label:hover {
    background-color: #85858570;
}

.choose-class .radio-input label:hover span {
    color: var(--color-bg);
}

.choose-class .radio-input label:has(input:checked) {
    background-color: var(--color-fg);
    font-weight: 600;
    color: var(--color-bg);
}

.selection {
    display: none;
    position: absolute;
    width: var(--item_width);
    height: var(--item_height);
    width: calc(var(--container_width) / var(--items));
    z-index: 0;
    left: 0;
    top: 0;
    transition: .15s ease;
}

.radio-input label:has(input:checked) ~ .selection {
    background-color: var(--color-fg);
    display: inline-block;
}

.radio-input label:has(input:checked) {
    color: var(--color-bg);
}

.search-btn {
    background-color: var(--radio-color);
    color: var(--color-fg);
    text-decoration: none;
    position: absolute;
    top: 52.5%;
    left: 45%;
    z-index: 0;
    padding: 10px 20px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    animation: fade-text 0.7s forwards;
}

.search-btn:hover {
    background-color: var(--color-fg);
    color: var(--color-bg);
    border: 1px solid var(--border);
    font-weight: bold;
    cursor: pointer;
}

.radio-input label:nth-child(1):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 0 / var(--items)));
}
.radio-input label:nth-child(2):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 1 / var(--items)));
}
.radio-input label:nth-child(3):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 2 / var(--items)));
}
.radio-input label:nth-child(4):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 3 / var(--items)));
}
.radio-input label:nth-child(5):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 4 / var(--items)));
}
.radio-input label:nth-child(6):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 5 / var(--items)));
}
.radio-input label:nth-child(7):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 6 / var(--items)));
}
.radio-input label:nth-child(8):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 7 / var(--items)));
}
.radio-input label:nth-child(9):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 8 / var(--items)));
}
.radio-input label:nth-child(10):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 9 / var(--items)));
}
.radio-input label:nth-child(11):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 10/ var(--items)));
}

.alert {
    position: fixed;
    top: 4%;
    right: 2%;
    padding: 15px 30px;
    background-color: var(--color-fg);
    color: var(--color-bg);
    opacity: 0;
    width: 300px;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;
    letter-spacing: 0.05rem;
    font-size: 1.03em;
}

.alert.show {
    opacity: 1;
    visibility: visible;
    animation: fade-text 1s forwards;
}

.alert.success { background-color: var(--color-fg); color: var(--color-bg); }
.alert.error { background-color: #ff0000; color: #222; }

.fill-up-content-container {
    width: 100%;
    max-width: 1170px;
    margin-right: 10px;
    height: 160px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 30px 0px;
    background: url(https://go-assets.ibcdn.com/u/MMT/images/1736424341541-oneAirlineBg.png) right bottom / contain no-repeat var(--radio-color);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-top: 620px;
    cursor: pointer;
}

.emirates-banner {
    width: 350px;
    height: 350px;
    border-radius: 0px 50% 50% 0px;
    overflow: hidden;
    position: relative;
    background: #757575;
    transform: translateY(-24%);
}

.emirates-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}