.hotel-card-center{display:flex;flex-direction:column;align-items:center;justify-content:center;width:100%;margin:0 auto}
.hotel-cards{display:flex;flex-direction:column;max-width:1000px;width:100%;user-select:none;animation:fade-card 1s forwards,fade-text 1s forwards}
.hotel-card{background:var(--color-bg);border:1px solid var(--radio-border);height:166px;overflow:hidden;box-shadow:0 2px 5px #0000001a;margin:.5rem;position:relative;animation:fade-card 1s forwards;will-change:transform,box-shadow;transition:transform .2s!important;transform:translateZ(0)}
.hotel-card::after{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:radial-gradient(circle,var(--card-hover) 0%,var(--card-hover2) 40%);opacity:0;transition:opacity 1s ease,transform .5s ease;pointer-events:none}
.hotel-card:hover::after{transform:scale(4);transition:.5s ease;opacity:1}
.hotel-card:hover{box-shadow:0 2px 10px #0003;cursor:pointer}
.hotel-card:hover .hotel-image{filter:grayscale(1);transition:500ms}
.hotel-card:active{background-color:var(--card-hover);box-shadow:0 2px 5px #0000001a;cursor:pointer;transform:scale(1.02)!important;transition:background-color .1s!important}
.hotel-image{width:250px;height:150px;overflow:hidden;transition:500ms}
.hotel-image img{width:100%;height:100%;object-fit:cover}
.hotel-info{display:grid;grid-template-columns:250px 2fr 1fr 0fr;align-items:center;gap:1rem;margin:.5rem;padding-right:1rem}
.hotel-card:hover .price h3{color:var(--color-fg)}
.price h3{margin-left:160px;margin-bottom:20px}
.price p{color:#5f5f5f;font-size:.7em;margin:-7px;margin-left:60px;position:absolute}
.book-btn{background:var(--radio-color);color:var(--color-fg);border:1px solid var(--radio-border);padding:.7rem;cursor:pointer;font-family:'Varela';transition:.2s;position:relative;z-index:1}
.book-btn:hover{background-color:var(--color-fg);color:var(--color-bg);transform:scale(1.05);font-weight:800}
.info-group{display:flex;flex-direction:column;justify-content:center;gap:.8rem;text-align:left}
.rating-book-btn-group{display:flex;flex-direction:column;justify-content:center;gap:1.5rem}
.hotel-cost{text-align:left}
.company h4{margin:0;font-size:1.1em}
.company p{margin:0;font-size:.85em;color:#868686}
.rating .rate-value b{padding:2px 6px;background-color:var(--radio-color);font-size:1.1em}
.rating .label{font-size:.85em;color:var(--color-fg)}
.rating-low{color:red}
.rating-mid{color:orange}
.rating-high{color:green}
.features span{background-color:var(--radio-color);padding:3px 5px;margin:3px;font-size:.75em;display:inline-block;color:var(--tnc-color)}
.sort-container{display:flex;justify-content:center;align-items:center;background-color:var(--color-bg);border:1px solid var(--radio-border);overflow:hidden;width:100%;max-width:982px;margin:0 auto;margin-bottom:.5rem;user-select:none;animation:fade-card 1s forwards;font-size:.9em}